<launch>

    <!--  launch the lidar node,publish the scan topic and laser_link ——> base_link tf(static)-->
    <include file="$(find launch_file)/launch/rplidar.launch" />

    <!-- launch the ros_arduino_bridge node and publish odom data for robot_localization node -->
    <include file="$(find ros_arduino_python)/launch/arduino.launch" />

    <!-- launch the imu node and publish the imu data for robot_localization node-->
    <include file="$(find imu_901)/launch/imu_901.launch" />

    <!-- fusion the odom and imu data and publish the odom——> base_link tf for gmapping -->
    <include file="$(find launch_file)/launch/robot_localization.launch" />

    <!-- Run the map server and load the static map -->
    <node name="load_map_to_amcl" pkg="map_server" type="map_server" args="$(find launch_file)/map/map.yaml"/>
    
    <!--- Run AMCL -->
    <include file="$(find launch_file)/launch/amcl.launch"/>
    
    <!-- move_base 节点-->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find launch_file)/params/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
        <rosparam file="$(find launch_file)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find launch_file)/params/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find launch_file)/params/move_base_params.yaml" command="load" />
        <rosparam file="$(find launch_file)/params/global_costmap_params.yaml" command="load" /> 
        <rosparam file="$(find launch_file)/params/dwa_local_planner_params.yaml" command="load" />
        <rosparam file="$(find launch_file)/params/global_planner_params.yaml" command="load"/>
        <remap from="cmd_vel" to="joy_teleop/cmd_vel" />
    </node>

</launch> 

